<footer class="ui black inverted vertical footer segment padded">
  <div class="ui container">
    <div class="ui stackable inverted grid">
      <div class="six wide aligned column">
        <div class="ui borderless icon inverted compact menu">
          <a class="gizra-logo item">
            gizra
          </a>
          <a class="item" target="_blank" href="mailto:info@gizra.com">
            <i class="mail big icon"></i>
          </a>
          <a class="item" target="_blank" href="https://twitter.com/gizra_drupal">
            <i class="twitter big icon"></i>
          </a>
          <a class="item" target="_blank" href="https://github.com/Gizra/gizra.com">
            <i class="github big icon"></i>
          </a>
        </div>
      </div>
      <div class="ten wide right aligned column">
        <div class="ui basic inverted padded segment">
          <div class="ui list">
          <div class="address item">
            <span class="ui grey label"><i class="marker icon"></i>ISRAEL</span>
            5 Brenner Street, Tel Aviv 
            <a class="telephone" href="tel:+97233731222">
              +972-3-3731222
            </a>
          </div>
          </div>
          <div class="ui list">
          <div class="address item">
            <span class="ui grey label"><i class="marker icon"></i>USA</span>
            350 N. Orleans Street, Suite 9000N, Chicago, IL 60647 
            <a class="telephone" href="tel:+13125857625">
              +1-312-585-7625
            </a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

