<footer class="ui black inverted vertical footer segment padded">
  <div class="ui center aligned container">
    <div class="ui three column stackable inverted grid">

      <div class="column">
        <address>
          <div class="strong">Israel Headquarters</div>
          <div>5 Brenner Street, Tel Aviv</div>
          <a class="telephone" href="tel:+97233731222">
            +972-3-3731222
          </a>
          //
          <a class="email" href="mailto:info@gizra.com">
            info@gizra.com
          </a>
        </address>
      </div>

      <div class="column icons">
        <a target="_blank" href="https://twitter.com/gizra_drupal">
          <i class="twitter huge icon"></i>
        </a>

        <a target="_blank" href="https://github.com/Gizra/gizra.com">
          <i class="github huge icon"></i>
        </a>
      </div>

      <div class="column">
        <address>
          <div class="strong">North America Office</div>
          <div>350 N. Orleans Street, Suite 9000N, Chicago, IL 60647</div>
          <a class="telephone" href="tel:+13125857625">
            312-585-7625
          </a>
          //
          <a class="email" href="mailto:usoffice@gizra.com">
            usoffice@gizra.com
          </a>
        </address>
      </div>

    </div>
  </div>
</footer>
