<div class="row">
    <div class="column">
        <div class="ui horizontal segments">
          <div class="ui red center aligned segment">
            <a href="/story/clean-entry">Clean Entry</a>
          </div>
          <div class="ui blue center aligned segment">
            <a href="/story/about">The About Story</a>
          </div>
          <div class="ui green center aligned segment">
            <a href="/story/what-matters">What Matters</a>
          </div>
        </div>
    </div>
</div>
