.intro {
  color: white;
  margin-top: 20px;
  
  .tagline {
    font-size: 40px;
    color: black;
    
    .gizra-logo {
      font-family: 'Abril Fatface';
    }
  }

  p {
    font-size: 22px;
    color: black;

    &.first {
      font-size: 27px;
    }
    
  }
}
