.intro {
  color: white;
  margin-top: 20px;
  
  .tagline {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: black;
    font-size: 40px;
    line-height: 1.5;
    padding-top: 120px;
  }

  p {
    font-size: 22px;
    color: black;

    &.first {
      font-size: 27px;
    }
  }
}

.stories {
  padding: 3rem;

  .ui.segment {
    font-family: 'Montserrat', sans-serif;
    color: $gizra-blue;  
  }
}
