.intro {
  color: white;
  margin-top: 20px;
  
  .tagline {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    color: black;
    padding-top: 120px;
  }

  p {
    font-size: 22px;
    color: black;

    &.first {
      font-size: 27px;
    }
  }
}
