.post .ui.dividing.header {
  display: flex;
  .content {
    margin-right: 1em;
  }
}

.gist {
  .ui.table tr td {
    border-top: 0;
  }
}

.post div.highlight {
  margin: 1rem 0;
  background-color: $gizra-background-gray;
  border: 1px solid $gizra-code-border;
  border-radius: .28571429rem;
  box-shadow: 0 1px 2px 0 $gizra-code-border;
}

.post pre.highlight {
  padding: 0 1rem;
}

.post code.highlighter-rouge {
  padding: .2em .5em;
  background-color: $gizra-background-gray;
  color: $gizra-code-blue;
}

// Mobile
@media only screen and (max-width:767px) {
  // Move the author image below the header.
  .post .ui.dividing.header {
    flex-direction: column-reverse;
    text-align: center;

    // Make the author image centered.
    & > .ui.image {
      margin: 20px auto;
    }

    // Hide the ribbon.
    .ui.ribbon.label {
      display: none;
    }
  }
}
