#team-app {
  user-select: none;

  .magnets div {
    color: white;
    background-color: #333;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: move;
    width: 100px;
    height: 30px;
    border-radius: 2px;
    position: absolute;

    &.selected {
      background-color: yellow;
      color: black;
    }
  }

  .ui.transparent.segment {
    z-index: 100;
    opacity: 0.9;
    font-size: 1.5em;
    font-style: italic;
    pointer-events: none;
  }
}
@media only screen and (max-width:767px) {
  .magnets {
    display: none;
  }
}
