//Colors
$gizra-orange: #e27058;
$gizra-blue: #578E9B;
$gizra-blue-shadow: #3a626b;
$gizra-blue-dark: #244b80;
$gizra-blue-dark-shadow: #172f4f;

//Font Stacks
$esteban: 'Esteban', serif;
$montserat: 'Montserat', sans-serif;
$gizra: 'Abril Fatface', sans-serif;

@import 'blog_list';
@import 'homepage';
@import 'layout';
@import 'post';
@import 'team';
@import 'pygments';

body {
  font-family: 'Esteban', serif;
}

a {
  color: $gizra-blue;
}

a:hover {
  color: $gizra-blue-dark;
}

ol,
p,
ul {
  font-size: 1.4rem;
  line-height: 1.618;
}

header {
  .tagline {
    font-style: italic;
    font-size: 1.2em;
    margin-top: -40px;
    padding-left: 80px;
    color: gray;
  }
}

// Headers that are links.
.ui.header > .content > a {
  color: rgba(0, 0, 0, 0.87);
}

// Semantic UI Overrides
.ui.header {
  font-family: 'Montserat', sans-serif;
}

.ui.label {
  font-family: 'Montserat', sans-serif;
}

.ui.teal.label, .ui.teal.labels .label {
  background-color: $gizra-blue !important;
}

.ui.teal.ribbon.label {
  border-color: $gizra-blue-shadow !important;
}

.ui.teal.labels .label:hover, a.ui.teal.label:hover {
  background-color: $gizra-blue-dark !important;
  border-color: $gizra-blue-dark-shadow !important;
}

.card {
  font-family: $montserat;
}

// Fix a Semnatic UI bug where secondary segment doesn't get styling if inside
// horizontal segments
.ui.horizontal.segments > .ui.secondary.segment {
  background: #f3f4f5;
  color: rgba(0, 0, 0, 0.6);
}

blockquote {
  font-size: 1.25rem;
  line-height: 1.618;
  background: #f9f9f9;
  border-left: 3px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 30px;

  &::before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p {
    display: inline;
    font-style: italic;
  }
}
