//Colors
$gizra-orange: #e27058;
$gizra-blue: #578E9B;
$gizra-blue-dark: #244b80;

@import 'blog_list';
@import 'homepage';
@import 'layout';
@import 'post';
@import 'team';
@import 'pygments';

body {
  font-family: 'Esteban', serif;
}

a {
  color: $gizra-blue;
}

a:hover {
  color: $gizra-blue-dark;
}

ol,
p,
ul {
  font-size: 1.25em;
  line-height: 1.6em;
}

header {
  .gizra-logo {
    color: $gizra-orange;
    font-family: 'Abril Fatface';
    font-size: 60px;
    letter-spacing: .01em;
  }
}

// Footer
footer {
  font-family: 'Montserat', sans-serif;

  .gizra-logo {
    padding-top: 0.5em;
    font-size: 2.5rem;
    letter-spacing: .02em;
    font-family: 'Abril Fatface', san-serif;
  }
}

// Headers that are links.
.ui.header > .content > a {
  color: rgba(0, 0, 0, 0.87);
}

// Fix a Semnatic UI bug where secondary segment doesn't get styling if inside
// horizontal segments
.ui.horizontal.segments > .ui.secondary.segment {
  background: #f3f4f5;
  color: rgba(0, 0, 0, 0.6);
}

blockquote {
  background: #f9f9f9;
  border-left: 3px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 30px;

  &::before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p {
    display: inline;
    font-style: italic;
  }
}
