@import 'blog_list';
@import 'homepage';
@import 'layout';
@import 'post';
@import 'team';
@import 'pygments';

p,
ul {
  font-size: 1.25em;
  line-height: 1.6em;
}

header {
  .tagline {
    font-style: italic;
    font-size: 1.2em;
    margin-top: -40px;
    padding-left: 80px;
    color: gray;
  }
}

// Headers that are links.
.ui.header > .content > a {
  color: rgba(0, 0, 0, 0.87);
}

// Fix a Semnatic UI bug where secondary segment doesn't get styling if inside
// horizontal segments
.ui.horizontal.segments > .ui.secondary.segment {
  background: #f3f4f5;
  color: rgba(0, 0, 0, 0.6);
}

blockquote {
  background: #f9f9f9;
  border-left: 3px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 30px;

  &::before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  p {
    display: inline;
    font-style: italic;
  }
}
