---
layout: default
title: Services
description: Our story told as 3 different stories
---
<div class="{{ site.wrapper_classes.full }}">

  {% include page_header.html url=page.url title=page.title%}

  <div class="ui padded segment">

  <h2>What's your story?</h2>
  <h3>
    It's not about technology. It is about your organization or your business
    and what you want to do.  Instead of presenting you with a list of services that you
    may or may not need, we hope to capture what is really on your mind.
  </h3>
  <p>Maybe you want to be one of the <a href="/projects">projects</a> in our
    story - maybe we can be in yours?</p>

  <div class="services grid">
    <div class="service item strategy">
      <div class="main-content">
        <div class="ui header">Strategy & Analysis<i class="angle double right icon"></i></div>
        <div class="description">
          <div class="title">Try a "Lean Discovery"</div>
          <div class="text">because what you need may be simpler than you think.</div>
          <button class="ui basic button">What's our story?</button>
        </div>
      </div>
      <div class="subcontent">
        <div class="ui header">Strategic services</div>
        <ul>
          <li><i class="angle right icon"></i>Discovery & Definition</li>
          <li><i class="angle right icon"></i>User Experience Consultation</li>
          <li><i class="angle right icon"></i>User Testing</li>
          <li><i class="angle right icon"></i>Performace, SEO, and Scalibility assessment</li>
        </ul>
      </div>
    </div>

    <div class="service item development">
      <div class="main-content">
        <div class="ui header">Design & Development<i class="angle double right icon"></i></div>
        <div class="description">
          <div class="title">Your Project, the Gizra Way</div>
          <div class="text">because there is a way to succeed - on time, in budget, users are happy.</div>
          <button class="ui basic button">What's our story?</button>
        </div>
      </div>
      <div class="subcontent">
        <div class="ui header">Design & Development Services</div>
        <ul>
          <li><i class="angle right icon"></i>Complex Content Management Solutions</li>
          <li><i class="angle right icon"></i>Prototypes and Proof of Concepts</li>
          <li><i class="angle right icon"></i>Front-End Applications</li>
          <li><i class="angle right icon"></i>Drupal Development</li>
          <li><i class="angle right icon"></i>Elm Development</li>
        </ul>
      </div>
    </div>

    <div class="service item maintenance">
      <div class="main-content">
        <div class="ui header">Audit & Maintenance<i class="angle double right icon"></i></div>
        <div class="description">
          <div class="title">Let us give you a hand</div>
          <div class="text">because a website is never done.</div>
          <button class="ui basic button">What's our story?</button>
        </div>
      </div>
      <div class="subcontent">
        <div class="ui header">Maintenance Services</div>
        <ul>
          <li><i class="angle right icon"></i>Website Audit and Report</li>
          <li><i class="angle right icon"></i>Ongoing Maintenance & Enhancement Contracts</li>
          <li><i class="angle right icon"></i>Site Health Evaluations</li>
          <li><i class="angle right icon"></i>Performance, Error Reporting, Availability, and Visual Monitoring</li>
        </ul>
      </div>
    </div>

    <div class="service item advisory">
      <div class="main-content">
        <div class="ui header">Expert Advisory<i class="angle double right icon"></i></div>
        <div class="description">
          <div class="title">We can teach you to fish</div>
          <div class="text">because there is a way to succeed - on time, in budget, users are happy.</div>
          <button class="ui basic button">What's our story?</button>
        </div>
      </div>
      <div class="subcontent">
        <div class="ui header">Advisory Services</div>
        <ul>
          <li><i class="angle right icon"></i>Project Consulting and Roadmapping</li>
          <li><i class="angle right icon"></i>Technical Project Managagement</li>
          <li><i class="angle right icon"></i>Team Augmentation</li>
          <li><i class="angle right icon"></i>Training and Documentation</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="ui modal strategy">
  <i class="close icon"></i>
  <div class="header">
    Strategy & Analysis
  </div>
  <div class="scrolling content">
    <div class="description">
      <div class="ui header">Our Story:</div>

      <p>
        You have a website; you are not quite happy with it; it does not
        meet your current business needs; you are also not so sure what
        the next steps should be. There are voices saying you should redo
        the whole thing and you are underwhelmed by the idea because it
        was such an arduous process the last time.  You may have all these
        changes and additions you would like to implement, but you have no
        idea what your budget will allow.

        <div class="ui header">Other Stories:</div>

        <!-- OpenScholar -->
        {% capture project_content %}
        <p>
          OpenScholar is a full-featured solution for university systems, powering thousands
          of Harvard University websites. Its strength is in its ability to allow departments, faculty, students, and
          projects to spin up websites with the click of a button, and with enforceable standards,
          look and feel, and sensible defaults.
        </p>
        <p>
          Gizra is an integral part of the core development team for OpenScholar stemming from our
          intimate knowledge of the Drupal-contributed Organic Groups module on top of which OpenScholar
          is built. In addition, Gizra developed the entire automatic test suite, which is now the
          largest of any Drupal distributions.
        </p>
        {% endcapture %}

          {% include project.html
            title="Harvard OpenScholar"
            client="Harvard University"
            url="openscholar.harvard.edu"
            image="openscholar.jpg"
            content=project_content
            case_study="/case-studies/openscholar"
          %}
      </p>
    </div>
  </div>
  <div class="actions">
  <div class="ui button">See All projects ></div>
</div>
</div>

<div class="ui modal development">
  <i class="close icon"></i>
  <div class="header">
    Strategy & Analysis
  </div>
  <div class="content">
    <div class="description">
      <p>
        You have a website; you are not quite happy with it; it does not
        meet your current business needs; you are also not so sure what
        the next steps should be. There are voices saying you should redo
        the whole thing and you are underwhelmed by the idea because it
        was such an arduous process the last time.  You may have all these
        changes and additions you would like to implement, but you have no
        idea what your budget will allow.
      </p>
    </div>
  </div>
</div>
<div class="ui modal maintenance">
  <i class="close icon"></i>
  <div class="header">
    Strategy & Analysis
  </div>
  <div class="content">
    <div class="description">
      <p>
        You have a website; you are not quite happy with it; it does not
        meet your current business needs; you are also not so sure what
        the next steps should be. There are voices saying you should redo
        the whole thing and you are underwhelmed by the idea because it
        was such an arduous process the last time.  You may have all these
        changes and additions you would like to implement, but you have no
        idea what your budget will allow.
      </p>
    </div>
  </div>
</div>
<div class="ui modal advisory">
  <i class="close icon"></i>
  <div class="header">
    Strategy & Analysis
  </div>
  <div class="content">
    <div class="description">
      <p>
        You have a website; you are not quite happy with it; it does not
        meet your current business needs; you are also not so sure what
        the next steps should be. There are voices saying you should redo
        the whole thing and you are underwhelmed by the idea because it
        was such an arduous process the last time.  You may have all these
        changes and additions you would like to implement, but you have no
        idea what your budget will allow.
      </p>
    </div>
  </div>
</div>
</div>
