#about-page {
  padding: 40px 0;

  .section1 {

    .last {
      margin-bottom: 60px;
    }
  }

  .section2 {
    background: url('/assets/images/about-story/lamp.jpg') no-repeat no-repeat;
    height: 300px;
    opacity: 0.85;
  }

  .section3 {
    margin-top: 50px;
    margin-bottom: 50px;
    
    .closing {
      text-align: center;
      color: $gizra-blue;
      font-size: 24px;
      font-weight: 400;
      
      .inline-logo {
        font-family: 'Abril Fatface';
        color: $gizra-orange;
      }
    }
  }

  .section4 {
    background: url('/assets/images/about-story/fish.jpg') no-repeat no-repeat;
    border-radius: 50%;
    width: 600px;
    height: 600px;
    margin: 0 auto;
    border: 10px solid white;

    .backstretch {
      border-radius: 50%;
    }
  }

  .holder {
    height: 50px;
  }

  .image-section {
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .section-contact {
    margin-top: 45px;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
   
    a {
       text-decoration: none;
       padding:  10px 20px;
       border: 2px solid $gizra-blue;
     }
     
     a:hover, a:focus {
       border: 2px solid #244b80;
    }
  }
  
  @media (max-width: 767px) {

    .section4 {
      width: 300px;
      height: 300px;
    }
  }
}

.section1 p:first-child:first-letter {
  font-size: 75px;
  font-family: 'Abril Fatface';
  color: $gizra-orange;
  float: left;
  line-height: 1.2;
  line-height: 60px; 
  padding-top: 4px; 
  padding-right: 8px; 
  padding-left: 3px;
}
