#team-page {
  margin: 40px 0;
  position: relative;

  .title {
    @include title;
  }

  .member-box {
    padding-left: 0;
    padding-right: 0;

    .popup-block {
      display: none;

      .background {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: $gizra-orange-hover;
        opacity: 0.5;
        z-index: 1000;
      }

      .info {
        font-size: 0.857em;
        text-align: center;
        position: absolute;
        bottom: 20%;
        width: 100%;
        z-index: 3000;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      .name,
      .title {
        color: white;
        text-transform: uppercase;
        max-width: 95%;
      }

      .name {
        font-weight: bold;
        margin-bottom: 10px;
      }

      ul {
        list-style-type: none;
        padding: 0;


        li {
          display: inline-block;
          margin-left: 5%;
          margin-right: 5%;
          color: white;
        }

        img {
          max-width: 35px;
        }

        a {
          text-decoration: none;
          color: inherit;
        }

        .facebook {
          height: 35px;
          margin-left: 2px;
          margin-bottom: 5px;
        }
      }
    }
  }
}

// Mobile Media query.
@include mobile {

  #team-page .member-box .popup-block {

    .info {
      bottom: 0;

      ul {
        margin-top: 15px;
      }

      .title {
        padding-bottom: 0;
      }
    }
  }
}

// Mobile less than 480px
@media (max-width: 480px) {
  #team-page .member-box .popup-block {
    .info {
      font-size: .65em;

      .title {
        line-height: 1.5;
      }
    }
  }
}
