<!DOCTYPE html>
<html>

<head>
  {% case page.title %}
    {% when 'Blog' %}
      {% capture title %}Gizra's Blog{% if paginator.page > 1 %} | Page {{ paginator.page }}{% endif %}{% endcapture %}
    {% else %}
      {% assign title = page.title %}
  {% endcase %}

  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta property="og:site_name" content="{{ site.title }}">

  {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
  {% else %}
    <meta property="og:title" content="{{ site.title }}">
  {% endif %}

  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  <meta property="og:description" content="{{ page.description }}">

  {% else %}
  <meta name="description" content="Gizra is a web strategy, design, and
  development agency with an extensive track record in complex content
  management solutions in Drupal and Elm.">
  <meta property="og:description" content="{{ page.description }}">
  {% endif %}

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@gizra_drupal" />

  {% if page.image %}
  <meta property="og:image" content="{{ site.url }}{{ page.image }}">

  {% else %}
  <meta property="og:image" content="{{ site.url }}/assets/images/homepage/gizra-logo-site.jpg">
  {% endif %}

  <!-- Favicon for all platforms -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-194x194.png" sizes="194x194">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/assets/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/assets/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="/assets/favicons/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- End favicon for all platforms -->

  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface&text=gizra" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Esteban" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css" integrity="sha384-370KB8zqOlHxys9dcOyC7aCeXVtGyiKkWkp+cn8Mfoi13/sPj7fvSuhKRRdFbcip" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/stylesheets/style.css" />
  {% if page.url == '/team/' %}
  <link rel="stylesheet" href="//unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
  <link rel="stylesheet" href="//unpkg.com/leaflet.markercluster@1.0.6/dist/MarkerCluster.css" />
  <link rel="stylesheet" href="//unpkg.com/leaflet.markercluster@1.0.6/dist/MarkerCluster.Default.css" />
  {% endif %}

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js" integrity="sha384-xfhRYqbW4Asj6UIfXB+Fp7GsmhF9uCf4R+oIGrp7YaBMAmlQWihnvGrW2WbdQRIS" crossorigin="anonymous"></script>

  {% if page.url == '/podcast/' %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.8/mediaelement-and-player.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/4.2.8/mediaelementplayer.min.css" />
  {% endif %}

  {% include google_analytics.html %}
</head>

<body class="pushable">

  <div class="ui sidebar inverted vertical menu left">
    <a class="item active" href="/">
      Home
    </a>
    <a class="item" href="/team">
      Team
    </a>
    <a class="item" href="/blog">
      Blog
    </a>
    <a class="item" href="/podcast">
      Podcast
    </a>
    <a class="item" href="/projects">
      Projects
    </a>
    <a class="item" href="/our-story">
      Our Story
    </a>
    <a class="item" href="/contact">
      Contact
    </a>
  </div>

  <div class="pusher">
    <div class="ui grid container">

        {% include header.html %}

        {{ content }}


    </div>

    {% include footer.html %}

</div>
  <script src="/bower_components/anchor-js/anchor.min.js"></script>
  <script src="/assets/javascript/script.js"></script>
  {% if page.url == '/team/' %}
  <script src="//unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
  <script src="//unpkg.com/leaflet.markercluster@1.0.6/dist/leaflet.markercluster.js"></script>
  <script src="/assets/javascript/map.js"></script>
  {% endif %}
</body>

</html>
