---
layout: default
post: true
---
{% if page.author == nil %}
  {% assign author = "amitaibu" %}
{% else %}
  {% assign author = page.author %}
{% endif %}

{% for authors in site.authors %}
  {% for author_info in authors %}
    {% if author_info[0] == author %}
      {% assign author = author_info[1] %}
    {% endif %}
  {% endfor %}
{% endfor %}

<div class="ui grid centered post">
  <div class="sixteen wide mobile sixteen wide tablet twelve wide computer column">
    <div class="ui raised padded segment">

      <h1 class="ui dividing header">
        <div class="ui image">
          <img src="/assets/images/team/avatars/{{ author.avatar }}" class="ui circular image">
        </div>

        <div class="content">
          <a href="{{ page.url }}">{{ page.title }} </a>
          <div class="sub header">
            By {{ author.name }}

            {% if author.twitter %}
              (@{{ author.twitter }})
            {% endif %}

            // {{ page.date | date_to_string }}

          </div>
        </div>

        <div class="right floated column">
            <a href="/blog" class="ui teal right ribbon big label">Blog Post</a>
        </div>
      </h1>

      {{ content }}

    </div>
  </div>

  <!--Pager-->
  {% assign posts = site.posts | where:"layout","post" %}
  {% for post in posts %}
    {% if post.url == page.url %}
      {% assign prev = forloop.index %}
      {% if forloop.index0 != 0 %}
        {% assign next = forloop.index0 | minus: 1 %}
      {% endif %}
      {% if prev %}
          {% assign prevPage = posts[prev] %}
      {% endif %}
      {% if next %}
          {% assign nextPage = posts[next] %}
      {% endif %}
    {% endif %}
  {% endfor %}

  <div class="twelve wide column computer only">
    <div class="ui borderless secondary menu">
      {% if prevPage %}
      <a class="item" href="{{ prevPage.url }}">
        <i class="chevron left icon"></i>
        {{ prevPage.title }}
      </a>
      {% endif %}
      <div class="right menu">
        {% if nextPage %}
        <a class="item" href="{{ nextPage.url }}">
          {{ nextPage.title }}
          <i class="chevron right icon"></i>
        </a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    <div class="ui segment basic">
      {% include disqus.html %}
    </div>
  </div>

</div>
