---
layout: default
post: true
---
{% if page.author == nil %}
  {% assign author = "amitaibu" %}
{% else %}
  {% assign author = page.author %}
{% endif %}

{% for authors in site.authors %}
  {% for author_info in authors %}
    {% if author_info[0] == author %}
      {% assign author = author_info[1] %}
    {% endif %}
  {% endfor %}
{% endfor %}

<div class="ui grid centered post">
  <div class="sixteen wide mobile sixteen wide tablet twelve wide computer column">
    <div class="ui raised very padded segment">

      <h1 class="ui dividing header">
        <div class="ui image">
          <img src="/assets/images/team/avatars/{{ author.avatar }}" class="ui circular image">
        </div>

        <div class="content">
          <a href="{{ page.url }}">{{ page.title }} </a>
          <div class="sub header">
            By {{ author.name }}

            {% if author.twitter %}
              (@{{ author.twitter }})
            {% endif %}

            // {{ page.date | date_to_string }}

          </div>
        </div>

        <div class="right floated column">
            <a href="/blog" class="ui teal right ribbon big label">Blog Post</a>
        </div>
      </h1>

      {{ content }}

    </div>
  </div>

  <!--Pager-->
  <div class="twelve wide column computer only">
    <div class="ui borderless secondary menu">
      {% if page.previous %}
      <a class="item" href="{{ page.previous.url }}">
        <i class="chevron left icon"></i>
        {{ page.previous.title }}

      </a>
      {% endif %}
      <div class="right menu">
        {% if page.next %}
        <a class="item" href="{{ page.next.url }}">
          {{ page.next.title }}
          <i class="chevron right icon"></i>
        </a>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="twelve wide column">
    <div class="ui segment basic">
      {% include disqus.html %}
    </div>
  </div>

</div>
