---
layout: default
title: The Gizra Way Podcast
description: A  semi-regular conversation about the web, technology, and what we call The Gizra Way.
image: /assets/images/social/gizra-way-podcast.jpg
---

<div class="{{ site.wrapper_classes.full }}">

  {% include page_header.html url=page.url title=page.title%}
  <div class="ui segments">

    {% for podcast in site.data.podcast %}
      <div class="ui padded segment projects">
      <h2 class="ui header podcast-title">Episode {{ podcast.episode }}: {{ podcast.title }}</h2>
      <div class="podcast description">
        <p>{{ podcast.description }}</p>
      </div>
      <p>
        <audio src="{{ podcast.file }}"
        		class="mejs__player"
        		data-mejsoptions='{"alwaysShowControls": "true"}'>
        </audio>
      </p>
      <div class="podcast descriptor"><strong>Recorded:</strong> {{ podcast.date }}</div>
      <div class="podcast descriptor"><strong>Length:</strong> {{ podcast.length }}</div>
      <div class="podcast descriptor"><strong>Intro/Outro Tune:</strong> <a href="{{ podcast.tune_link }}">{{ podcast.tune }}</a></div>
      <div class="podcast descriptor"><strong>Download the MP3:</strong> <a href="{{ podcast.file }}">Episode {{ podcast.episode }}</a></div>
    </div>
    {% endfor %}

  </div>
</div>
