<div id="spotlight">
  <h2 class="title">The <span class="gizra-logo-inline">gizra</span> Way at Work</h2>
  <div class="spotlight__project row">
    <div class="col-sm-4">
      <div class="spotlight__project__item">
        <div class="spotlight__project__item__img">
          <a href="/case-studies/openscholar/">
            <img class="img-responsive" src="/images/homepage/havard-openscholar.jpg" alt="Havard OpenScholar">
          </a>
        </div>
        <div class="spotlight__project__item__text">
          <h3><a href="/case-studies/openscholar/">Harvard OpenScholar</a></h3>
          <div class="spotlight__project__item__text__caption">Massive multisite capabilities in Higher Education using Drupal Organic Groups.</div>
        </div>
      </div>
    </div> 
    <div class="col-sm-4">
      <div class="spotlight__project__item">
        <div class="spotlight__project__item__img">
          <img class="img-responsive" src="/images/homepage/united-nations.jpg" alt="United Nations Population Fund">
        </div>
        <div class="spotlight__project__item__text">
          <h3>The United Nations</h3>
          <div class="spotlight__project__item__text__caption">Complex content management and knowledge sharing on an international scale.</div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="spotlight__project__item">
        <div class="spotlight__project__item__img">
          <a href="/case-studies/casa-del-lector/">
            <img class="img-responsive" src="/assets/images/cases/casa-del-lector/thumb.jpg" alt="Human Resources">
          </a>
        </div>
        <div class="spotlight__project__item__text">
          <h3><a href="/case-studies/casa-del-lector/">Casa Del Lector</a></h3>
          <div class="spotlight__project__item__text__caption">Interactive mobile application for a cross-continent museum exhibit.</div>
        </div>
      </div>
    </div>
  </div>
</div>
