<div id="spotlight">
    <!--Our work Desktop-->
    <div class="spotlight__project row">
      <div class="col-sm-4">
        <div class="spotlight__project__item">
          <div class="spotlight__project__item__img">
            <img class="img-responsive" src="/assets/images/cases/ibli/thumb.jpg" alt="Human Resources">
          </div>
          <div class="spotlight__project__item__text">
            <h3>OpenScholar: Massive Scalability in Higher Ed</h3>
          </div>
        </div>
      </div> 
      <div class="col-sm-4">
        <div class="spotlight__project__item">
          <div class="spotlight__project__item__img">
            <img class="img-responsive" src="/assets/images/cases/ibli/thumb.jpg" alt="Human Resources">
          </div>
          <div class="spotlight__project__item__text">
            <h3>OpenScholar: Massive Scalability in Higher Ed</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="spotlight__project__item">
          <div class="spotlight__project__item__img">
            <img class="img-responsive" src="/assets/images/cases/ibli/thumb.jpg" alt="Human Resources">
          </div>
          <div class="spotlight__project__item__text">
            <h3>OpenScholar: Massive Scalability in Higher Ed</h3>
          </div>
        </div>
      </div>
    </div>
</div>
