<div class="row">
  {% for members_list in site.authors %}
    {% for member_info in members_list %}
      {% assign member = member_info[1] %}
      {% if member.is_member %}
      <div class="col-xs-6 col-sm-3 member-box" id="{{ member.github }}">
        <img class="img-responsive" src="/images/team/members/{{ member.image }}" alt="{{ member.name }} - {{ member.title }}">
        <div class="popup-block">
          <div class="background"></div>
          <div class="info">
            <div class="name">{{ member.name }}</div>
            <div class="title">{{ member.title }}</div>
            <ul>
              <!-- E-mail -->
              <li>
                <a href="mailto:{{ member.email }}">
                  <i class="fa fa-at" aria-hidden="true"></i>
                </a>
              </li>
              <!-- Github -->
              <li>
                <a target="_blank" href="https://github.com/{{ member.github }}">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>
              </li>
              <!-- Twitter -->
              {% if member.twitter %}
                <li>
                  <a target="_blank" href="https://twitter.com/{{ member.twitter }}">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                  </a>
                </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
  <!--Placeholder cat to fill the row -->
  <div class="col-xs-6 col-sm-3 member-box">
    <img class="img-responsive" src="/images/team/members/placeholder-cat.jpg" alt="cat astronaut image">
  </div>
  <!--Placeholder dog to fill the row-->
  <div class="col-xs-6 col-sm-3 member-box">
    <img class="img-responsive" src="/images/team/members/placeholder-dog.jpg" alt="dog astronaut image">
  </div>
</div>



