#blog-page .ui.cards > .card > a > .image > img {
  width: 100%; }

#blog-page .content.top {
  height: 60px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }

.intro {
  color: white;
  margin-top: 20px; }
  .intro p {
    font-size: 22px;
    font-family: 'Rasa', serif;
    color: black; }
    .intro p.first {
      font-size: 27px; }

body.pushable,
body.pushable > .pusher {
  background-color: #f5f5f5 !important; }

.pusher > .ui.grid.container {
  min-height: calc(100vh - 100px);
  display: block; }

.gizra-logo svg {
  -webkit-transform: scale(0.5);
          transform: scale(0.5); }

.menu.bar {
  padding: 2em 0; }

footer.ui.vertical.segment {
  margin-top: 30px; }
  footer.ui.vertical.segment .column.icons > a {
    color: white; }

.post .ui.dividing.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.gist .ui.table tr td {
  border-top: none; }

@media only screen and (max-width: 767px) {
  .post .ui.dividing.header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center; }
    .post .ui.dividing.header > .ui.image {
      margin: 20px auto; }
    .post .ui.dividing.header .ui.ribbon.label {
      display: none; } }

#team-app {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  #team-app #team-toggle-view {
    width: 30%;
    position: absolute;
    right: 33px;
    top: -78px; }
    #team-app #team-toggle-view a {
      cursor: pointer;
      color: gray;
      font-weight: normal;
      font-size: 17px; }
      #team-app #team-toggle-view a.active {
        color: black;
        cursor: default; }
      #team-app #team-toggle-view a:first-child {
        padding-right: 20px; }
    @media only screen and (max-width: 991px) {
      #team-app #team-toggle-view a {
        display: block; }
        #team-app #team-toggle-view a:first-child {
          padding: 0; } }
  #team-app .magnets div {
    color: white;
    background-color: #333;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: move;
    width: 100px;
    height: 30px;
    border-radius: 2px;
    position: absolute; }
    #team-app .magnets div.selected {
      background-color: yellow;
      color: black; }
  #team-app .ui.transparent.segment {
    z-index: 100;
    opacity: 0.9;
    font-size: 1.5em;
    font-style: italic;
    pointer-events: none; }
  #team-app #map {
    width: 100%;
    height: 500px; }

@media only screen and (max-width: 767px) {
  .magnets {
    display: none; }
  #team-toggle-view {
    display: none; } }

.highlight .hll {
  background-color: #ffffcc; }

.highlight .c {
  color: #999988;
  font-style: italic; }

/* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2; }

/* Error */
.highlight .k {
  color: #000000;
  font-weight: bold; }

/* Keyword */
.highlight .o {
  color: #000000;
  font-weight: bold; }

/* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic; }

/* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic; }

/* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic; }

/* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd; }

/* Generic.Deleted */
.highlight .ge {
  color: #000000;
  font-style: italic; }

/* Generic.Emph */
.highlight .gr {
  color: #aa0000; }

/* Generic.Error */
.highlight .gh {
  color: #999999; }

/* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd; }

/* Generic.Inserted */
.highlight .go {
  color: #888888; }

/* Generic.Output */
.highlight .gp {
  color: #555555; }

/* Generic.Prompt */
.highlight .gs {
  font-weight: bold; }

/* Generic.Strong */
.highlight .gu {
  color: #aaaaaa; }

/* Generic.Subheading */
.highlight .gt {
  color: #aa0000; }

/* Generic.Traceback */
.highlight .kc {
  color: #000000;
  font-weight: bold; }

/* Keyword.Constant */
.highlight .kd {
  color: #000000;
  font-weight: bold; }

/* Keyword.Declaration */
.highlight .kn {
  color: #000000;
  font-weight: bold; }

/* Keyword.Namespace */
.highlight .kp {
  color: #000000;
  font-weight: bold; }

/* Keyword.Pseudo */
.highlight .kr {
  color: #000000;
  font-weight: bold; }

/* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold; }

/* Keyword.Type */
.highlight .m {
  color: #009999; }

/* Literal.Number */
.highlight .s {
  color: #d01040; }

/* Literal.String */
.highlight .na {
  color: #008080; }

/* Name.Attribute */
.highlight .nb {
  color: #0086B3; }

/* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold; }

/* Name.Class */
.highlight .no {
  color: #008080; }

/* Name.Constant */
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold; }

/* Name.Decorator */
.highlight .ni {
  color: #800080; }

/* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold; }

/* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold; }

/* Name.Function */
.highlight .nl {
  color: #990000;
  font-weight: bold; }

/* Name.Label */
.highlight .nn {
  color: #555555; }

/* Name.Namespace */
.highlight .nt {
  color: #000080; }

/* Name.Tag */
.highlight .nv {
  color: #008080; }

/* Name.Variable */
.highlight .ow {
  color: #000000;
  font-weight: bold; }

/* Operator.Word */
.highlight .w {
  color: #bbbbbb; }

/* Text.Whitespace */
.highlight .mf {
  color: #009999; }

/* Literal.Number.Float */
.highlight .mh {
  color: #009999; }

/* Literal.Number.Hex */
.highlight .mi {
  color: #009999; }

/* Literal.Number.Integer */
.highlight .mo {
  color: #009999; }

/* Literal.Number.Oct */
.highlight .sb {
  color: #d01040; }

/* Literal.String.Backtick */
.highlight .sc {
  color: #d01040; }

/* Literal.String.Char */
.highlight .sd {
  color: #d01040; }

/* Literal.String.Doc */
.highlight .s2 {
  color: #d01040; }

/* Literal.String.Double */
.highlight .se {
  color: #d01040; }

/* Literal.String.Escape */
.highlight .sh {
  color: #d01040; }

/* Literal.String.Heredoc */
.highlight .si {
  color: #d01040; }

/* Literal.String.Interpol */
.highlight .sx {
  color: #d01040; }

/* Literal.String.Other */
.highlight .sr {
  color: #009926; }

/* Literal.String.Regex */
.highlight .s1 {
  color: #d01040; }

/* Literal.String.Single */
.highlight .ss {
  color: #990073; }

/* Literal.String.Symbol */
.highlight .bp {
  color: #999999; }

/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080; }

/* Name.Variable.Class */
.highlight .vg {
  color: #008080; }

/* Name.Variable.Global */
.highlight .vi {
  color: #008080; }

/* Name.Variable.Instance */
.highlight .il {
  color: #009999; }

/* Literal.Number.Integer.Long */
body {
  font-family: "Open Sans", sans-serif; }

a {
  color: #578E9B; }

a:hover {
  color: #244b80; }

ol,
p,
ul {
  font-size: 1.4rem;
  line-height: 1.618; }

header .tagline {
  font-style: italic;
  font-size: 1.2em;
  margin-top: -40px;
  padding-left: 80px;
  color: gray; }

.ui.header > .content > a {
  color: rgba(0, 0, 0, 0.87); }

.ui.header {
  font-family: 'Montserat', sans-serif; }

.ui.label {
  font-family: 'Montserat', sans-serif; }

.ui.teal.label, .ui.teal.labels .label {
  background-color: #578E9B !important; }

.ui.teal.ribbon.label {
  border-color: #3a626b !important; }

.ui.teal.labels .label:hover, a.ui.teal.label:hover {
  background-color: #244b80 !important;
  border-color: #172f4f !important; }

.card {
  font-family: "Montserat", sans-serif; }

.ui.horizontal.segments > .ui.secondary.segment {
  background: #f3f4f5;
  color: rgba(0, 0, 0, 0.6); }

blockquote {
  font-size: 1.25rem;
  line-height: 1.618;
  background: #f9f9f9;
  border-left: 3px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 30px; }
  blockquote::before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }
  blockquote p {
    display: inline;
    font-style: italic; }
