@import 'testimonials';

#homepage {
  .header-homepage {
    background: #292929;
    background: url('/images/header/homepage-background.jpg') no-repeat center top;
    background-size: cover;
    //background-attachment: fixed;
    width: 100%;
    text-align: left;
    padding-bottom: 40px;

    .cloud-a, .cloud-b, .cloud-c {
      position: absolute;
      background-size: cover;
    }

    .cloud-a {
      top: 20%;
      width: 200px;
      height: 200px;
      opacity: 0.4;
      animation: cloud-a 75s linear infinite;
      background: url('/images/homepage/cloud-a.png') no-repeat;
    }

    @keyframes cloud-a {
      0% {
        left: 10%;
      }
      
      100% {
        left: 120%;
      }
    }

    .cloud-b {
      top: 30%;
      width: 500px;
      height: 316px;
      opacity: 0.5;
      animation: cloud-b 150s linear infinite;
      background: url('/images/homepage/cloud-b.png') no-repeat;
    }

    @keyframes cloud-b {
      0% {
        left: 50%;
      }
      
      100% {
        left: 120%;
      }
    }

    .cloud-c {
      top: 60%;
      width: 600px;
      height: 200px;
      opacity: 0.5;
      animation: cloud-c 250s linear infinite;
      background: url('/images/homepage/cloud-c.png') no-repeat;
    }

    @keyframes cloud-c {
      0% {
        left: 0%;
      }
      100% {
        left: 120%;
      }
    }

    #slogan {
      margin-top: 50px;
      position: relative;
      overflow: hidden;
      color: white;
      
      h2 {
        margin: 0;
        color: white;
        font-family: "Hind", sans-serif;
        font-weight: bold;
        font-size: 70px;
        text-align: center;
      }

      #sub-slogan {
        margin: 3em auto 0;
        border: 2px solid white;
        width: 60%;
        text-align: center;
        padding: 20px 30px 10px; 

        p {
          font-family: "Raleway", sans-serif;
          font-size: 22.5px;
          line-height: 1.2em;
          font-weight: 400;
        }
      }

      #about-us-story {
        font-family: "Raleway", sans-serif;
        margin-top: 1.5em;
        font-weight: 500;
        //z-index: 5;

        a {
          color: white;
        }
      }

      .page-scroll {
        margin-top: 30px;
        width: 100%;
    
        .scroll-wrapper {
          display: block;
          text-align: center;
    
          a {
            color: white;
            font-size: 1.618em;
            text-decoration: none;
            opacity: 0.5;
          }
        }
      }         
    }
  }

  #from-our-blog {

    h2.title {
      @include title;
      font-size: 47.123px;      

      a {
        color: $gizra-blue;      
      }
    }
  }
}

// Desktop Media query.
@include desktop {
  
  .header-homepage, #gizra-way, #about {
    height: 100vh;
    max-height: 1000px;
    min-height: 750px;
  }
  
  #testimonials {
    height: 100vh;
    max-height: 1000px;
    min-height: 800px;
    
  }
  
   #from-our-blog {
     height: 1000px;
   }

  #homepage .header-homepage #slogan {
    margin-left: 15px;
  }
}
