#spotlight {
  margin-bottom: 60px;
  
  
  .title {
    font-size: 2.244em;
    margin-bottom: 30px;
    
    .gizra-logo-inline {
      font-family: Abril Fatface;
      color: $gizra-orange;
      font-size: 67px;
      letter-spacing: 1.9px;
    }
  }
  
  .spotlight__project {
    margin-bottom: 25px;
    
    .spotlight__project__item {
      .spotlight__project__item__img {
        position: relative;
        display: block;
        border: 1px solid #C5C5C5;
        margin-bottom: 12px;
        overflow: hidden;
        background: black;
  
        img {
          @include transition(all 0.5s ease-in-out);
          position: relative;
          width: 100%;
  
          &:hover {
            @include transform(scale(1.15));
            opacity: 0.5;
          }
        }
      }
      
      .spotlight__project__item__text {
        h3 {
          margin: 0;
        }
        
        .spotlight__project__item__text__caption {
          font-size: 16px;
          line-height: 1.5;
        }
      }
    }
  }
  
  .projects-label {
    margin-top: 45px;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
  
    a {
      text-decoration: none;
      padding:  10px 20px;
      border: 2px solid $gizra-blue;
    }
    
    a:hover, a:focus {
      border: 2px solid #244b80;
    }
  }
}
