#testimonials {
  background-color: white;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .page-scroll {
    margin-top: 40px;
    width: 100%;

    .scroll-wrapper {
      display: block;
      text-align: center;

      a {
        color: $gizra-black;
        font-size: 1.618em;
        text-decoration: none;
        opacity: 0.5;
      }
    }
  }
}
